extends layouts/main-layout.pug
   
block content
    if !profileUser
        h1 User Not Found
    else
        script.
            var profileUserId = `!{profileUser._id}`
            var selectedTab = `!{selectedTab}`
        
        - followerCount = profileUser.followers.length
        - followingCount = profileUser.following.length
        .profileHeaderConainer
            .coverPhotoSection
                .coverPhotoContainer

                    if profileUser.coverPhoto
                        img(src=profileUser.coverPhoto, alt="Users Cover Photo")

                    if profileUser._id == userLoggedIn._id
                        button.coverPhotoButton(data-bs-toggle="modal", data-bs-target="#coverPhotoUploadModal")
                            i.fa-solid.fa-camera

                .userImageContainer
                    img(src=`${profileUser.profilePic}`, alt="User Profile Image")

                    if profileUser._id == userLoggedIn._id
                        button.profilePictureButton(data-bs-toggle="modal", data-bs-target="#imageUploadModal")
                            i.fa-solid.fa-camera
            .profileButtonsContainer
                if profileUser._id != userLoggedIn._id
                    a.profileButton(href=`/messages/${profileUser._id}`) Message    
                        i.fa-solid.fa-inbox

                    - var profileUserId = profileUser._id.toString()
                    - if(userLoggedIn.following && userLoggedIn.following.includes(profileUserId))
                        +createFollowButton(profileUser, true)
                    - else
                        +createFollowButton(profileUser, false)
            .userDetailsContainer
                span.displayName #{profileUser.username}

                .followersContainer
                    a(href=`/profile/${profileUser.username}`)
                        span.value #{followingCount}
                        span Following
                    a(href=`/profile/${profileUser.username}`)
                        span#followersValue.value #{followerCount}
                        span Followers
        .tabsContainer
            +createTab("Posts", `/profile/${profileUser.username}`, selectedTab != "replies")
            +createTab("Replies", `/profile/${profileUser.username}/replies`, selectedTab == "replies")
        .postsContainer

        +createReplyModal(userLoggedIn)
        +createImageUploadModal()
        +coverPhotoUploadModal()

block scripts 
    script(src="/js/profile.js") 
