mixin createPostForm(userLoggedIn)
    .postFormContainer 
        .userImageContainer 
            img(src=userLoggedIn.profilePic, alt="Users Profile Picture")
        .textareaContainer 
            textarea#postScore(placeholder='Score 1-100')
            textarea#postArtist(placeholder='Artist Name')
            textarea#postAlbum(placeholder='Album Name')
            textarea#postTextArea(placeholder="Whats happening")
            .buttonsContainer 
                button#submitPostButton(disabled="") Post

mixin createReplyModal(userLoggedIn)
    #replyModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='replyModalLabel', aria-hidden='true')
        .modal-dialog(role='document')
            .modal-content
                .modal-header
                    h5#replyModalLabel.modal-title Reply
                .modal-body
                    #originalPostContainer
                    .postFormContainer 
                        .userImageContainer 
                            img(src=userLoggedIn.profilePic, alt="Users Profile Picture")
                        .textareaContainer 
                            textarea#replyTextArea(placeholder="Whats happening")
                .modal-footer
                    button.modalButton1.btn.btn-secondary(type='button', data-bs-dismiss='modal') Close
                    button#submitReplyButton.btn.btn-primary(type='button') Save changes

mixin createFollowButton(user, isFollowing)
    - text = isFollowing ? "Following" : "Follow"
    - buttonClass = isFollowing ? "followButton following" : "followButton"
    button(class=buttonClass, data-user=user._id) #{text}

mixin createTab(name, href, isSelected)
    - className = isSelected ? "tab active" : "tab"
    a(href=href, class=className)
        span #{name}

mixin createImageUploadModal()
    #imageUploadModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='imageUploadModalLabel', aria-hidden='true')
        .modal-dialog(role='document')
            .modal-content
                .modal-header
                    h5#imageUploadModalLabel.modal-title Upload a new profile picture
                .modal-body
                    input#filePhoto(type="file", name="filePhoto")

                    .imagePreviewContainer
                        img#imagePreview
                .modal-footer
                    button.btn.btn-secondary(type='button', data-bs-dismiss='modal') Cancel
                    button#imageUploadButton.btn.btn-primary(type='button') Save

mixin coverPhotoUploadModal()
    #coverPhotoUploadModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='coverPhotoUploadModalLabel', aria-hidden='true')
        .modal-dialog(role='document')
            .modal-content
                .modal-header
                    h5#coverPhotoUploadModalLabel.modal-title Upload a new cover photo
                .modal-body
                    input#coverPhoto(type="file", name="filePhoto")

                    .imagePreviewContainer
                        img#coverPreview
                .modal-footer
                    button.btn.btn-secondary(type='button', data-bs-dismiss='modal') Cancel
                    button#coverPhotoUploadButton.btn.btn-primary(type='button') Save            

mixin createChatImage(chatData, userLoggedIn)
    if(!chatData)
        return
    
    - var i = 0
    - var maxImagesToShow = 3
    - var remainingUsers = chatData.users.length - maxImagesToShow
    - remainingUsers--
    
    .chatImagesContainer
        if remainingUsers > 0
            .userCount
                span +#{remainingUsers}

        each user in chatData.users
            if chatData.users.length != 1 && user._id == userLoggedIn._id
                - continue

            img(src=user.profilePic, alt="User's profile picture", title=user.username)
            - i++

mixin createChatNameModal(chat)
    #chatNameModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='chatNameModalLabel', aria-hidden='true')
        .modal-dialog(role='document')
            .modal-content
                .modal-header
                    h5#chatNameModalLabel.modal-title Change the chat name
                .modal-body
                    input#chatNameTextbox(type="text", placeholder="Enter a name for this chat", value=chat.chatName)
                .modal-footer
                    button.btn.btn-secondary(type='button', data-bs-dismiss='modal') Cancel
                    button#chatNameButton.btn.btn-primary(type='button') Save 